article{
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
}

article h2{
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 700;
}

.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-card{
  width:18%;
}
