.container__header{
  height: 70px;
  width: calc(100% - 275px);
  position:fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-scroll);
  transition: background-color 1s ease;
}

.content__header{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.margin-right{
  margin-right: 15px;
}

.user-options{
  margin-left: auto;
}
