<div class="container-flex">
  <div class="music-info">
    <img src="https://www.vagalume.com.br/taylor-swift/discografia/red-10.webp">
    <div class="name-and-artist">
      <a class="link">
        <p class="name overflow">Warrior of ligth</p>
      </a>
      <a class="link">
        <p class="artist overflow">Aurora</p>
      </a>
    </div>
    <div class="like-button">
      <i class="fa-heart" [ngClass]="liked? 'fa-solid active' : 'fa-regular'" (click)="like()"></i>
    </div>
    <div class="picture-button">
      <i class="fa-window-maximize" [ngClass]="picture?'fa-solid active':'fa-regular'" (click)="openPicture()"></i>
    </div>
  </div>
  <div class="player">
    <div class="player-buttons">
      <i class="fa-solid fa-shuffle player-button"></i>
      <i class="fa-solid fa-backward-step player-button"></i>
      <i class="fa-solid fa-circle-play" [ngClass]="playing ? 'fa-circle-pause':'fa-circle-play'" (click)="play()"></i>
      <i class="fa-solid fa-forward-step player-button"></i>
      <i class="fa-solid fa-repeat player-button"></i>
    </div>
    <div class="timeline">
      <input type="range">
    </div>
  </div>
  <div class="other-options">
    <i class="fa-solid fa-microphone player-button"></i>
    <i class="fa-solid fa-diagram-next player-button"></i>
    <i class="fa-solid fa-laptop-medical player-button"></i>
    <i class="fa-solid fa-volume-high player-button"></i>
    <input type="range">
    <i class="fa-solid fa-maximize player-button"></i>
  </div>
</div>
