
.full-width{
  width: 100%;
}

.whole-page{
  height:100vh;
  overflow-y: hidden;
  min-width: 900px;
}

.menu-and-page{
  height: 85%;
  display: flex;
}

.menu{
  background-color: black;
}

.page{
  overflow-y: overlay;
  scrollbar-gutter:both-edges;
}

footer{
  height:15%;
  background-color: #181818;
  border-top: 1px solid #282828;
  padding-right: 20px;
  padding-left: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(25, 25, 25, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.082);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.205);
}
