.play-button{
  width:50px;
  height:50px;
  border-radius: 25px;
  background-color: #1FDF64;
  cursor:default;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0px 10px 22px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 22px -7px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 22px -7px rgba(0,0,0,0.75);
}

.play-button:hover{
  box-shadow: none;
  scale:1.1;
  border-radius: 26px;
}

.play-button i{
  color:black;
}

.container-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
